player-connection-mode=Listen
player-connection-guid=2933975779
player-connection-debug=0
player-connection-project-name=NovaBreak
player-connection-ip=192.168.2.201
player-connection-ip=10.144.159.236
player-connection-ip=169.254.84.5
player-connection-ip=169.254.123.68
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=6d7866cd6f4e4b9dafa23d1cd418f146
